.col-name{ 
width:15%;
}
.col-text{
width:75%;
}
.col-button{
width:5%;
}
.table{
width: 100%;
table-layout: fixed;
}
.my-table{
width: 100%;
height: 350px;
table-layout: fixed;
overflow-y: auto;
overflow-x:hidden;
}

div.item input {
	margin-right:10px;
}
.glyphicon{
    font-size: 18px;
    color: #473C8B;
}
.list-group{
      color: #6E8B3D;
    font-size: 10pt;
    list-style-type: circle;
    form style="margin-top: 0; margin-bottom: 0;"
}
// good but somethimes is not formatted well
